<h1>Qui appariranno gli utenti registrati</h1>

{{#each resp}}
<div class="user">
{{#each this}}
    <p>{{last}} {{first}}</p>
    <p>{{username}}</p>
    <p>{{email}}</p>
    <p>{{role}}</p>
{{/each}}
</div>
    
{{/each}}