<h1>Utenti registrati</h1>

{{#each resp}}
<div class="user">
{{#each this}}
    <p>{{last}} {{first}}</p>
    <p>{{username}}</p>
    <p>{{email}}</p>
    <p>{{role}}</p>
{{/each}}
</div>
{{/each}}

<p class="go-to-page">Prova questa <a href="/inexistent-page">pagina inesistente</a>.</p>